body {
    background-color:rgb(7, 75, 47);
    font-family: 'Poppins', sans-serif;
}

#Main-div {
    border: 2px solid yellow;
    width: 1400px;
    height: 800px;
    margin: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
   
}

#Main-div-part1 {
    border-radius: 30px;

    border: 2px solid yellow;
    text-align: center;
}

#cityname {
    border: 1px solid black;
    margin-top: 50px;
    height: 35px;
    width: 200px;
    border-radius: 40px;
    text-align: center;
    background-color: rgb(204, 246, 215);
    color: black;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

#search-btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgb(214, 247, 223);
    font-size: larger;
    cursor: pointer;
}

#search-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 38px;
    width: 38px;
    transition: smooth 0.8s;
}

#weather-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px
}

#weather-icon {
    display: block;
    font-size: 200px;
    margin:50px 0px 30px 0px
}

#temperature {
    color: white;
    font-size: 75px;
    font-weight: lighter;
    margin: 10px auto 20px 225px;
    padding: 4px;
    cursor: default;
    height: 65px;
    width: 150px;
}

#city {
    color: white;
    font-weight: lighter;
    font-size: 40px;
    margin: 8px 0px 5px -8px;
    padding: 5px;
}

#high-low{
    display: flex;
    justify-content: start;
    gap: 50%;
    font-size: larger;
    color:white;
    margin: 30px 0px 20px 0px;
    padding:10px 10px 0px 45px;
}
#high-low h2{
    cursor:default;
}

#all-weather {
    border-radius: 30px;
    border: 1px solid white;
    height: 160px;
    margin: 15px;
}


#Main-div-part2 {
    border: 1px solid yellow;
    border-radius: 30px;
}

#Main-div-part2 h2 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    margin: 20px 20px 30px 40px;
    padding: 0px;
    font-size: 40px;
}

#details {
    border-radius: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;

}

.box {
    background-color: rgb(3, 50, 35);
    border-radius: 30px;
    border: 1px solid white;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}


.box:hover{
    background-color: rgb(5, 162, 113);
    transform: translate3D(-1.3px,-3px,0px);
    transition: smooth 4s ease-in-out;
    border: 3px solid black;
    width: 298px;
    height: 298px;
    color: black;
   
}

.box h1{
    color: white;
    font-size:100px;
    margin-bottom: 0px;
    margin-top:-1px;
    cursor:default;
}

.box h2{
    font-size:26px;
    margin-left:-13px;
    cursor:default;
}

.box h3{
    color: white;
    font-size: 25px;
    margin-top: 0xp;
    cursor:default;

}

#Rain h2{
    font-size:30px;
}

#feels_like{
    margin-top: 0px;
    padding-top: 0px;
}